<div class="snitch-reporting">
  <%= form_tag interpret_search_path, class: "snitch-search-area" do %>
    <button type="submit" name="button">Filter</button>
    <input type="text" name="filter_string" value="<%= @filter_string %>" autocomplete="off">
    <label for="search">
      <div class="filters">
        <% @filter_sets.each do |filter_name, filter_set| %>
          <div class="snitch-table filter-table" data-filter-name="<%= filter_name %>" data-default="<%= filter_set[:default] %>">
            <div class="snitch-tr">
              <div class="snitch-th"><%= filter_name.to_s.titleize %></div>
            </div>

            <% filter_set[:values].each do |filter_value| %>
              <div class="snitch-tr">
                <%= link_to filter_value.to_s.titleize, {}, class: "snitch-td link-cell filter-cell", data: { filter_name: filter_name, filter_value: filter_value } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </label>
  <% end %>

  <div class="snitch-index">
    <div class="snitch-title-section">
      <h1><%= Rails.application.class.parent.name %></h1>
      <!-- Sort -->
    </div>
    <div class="snitch-center">
      <%= paginate @reports %>
      <br>
    </div>

    <div class="snitch-errors">
      <div class="snitch-table bordered padded">
        <div class="snitch-thead">
          <div class="snitch-tr">
            <div class="snitch-th">Error</div>
            <div class="snitch-th" style="width: 150px;">Last</div>
            <div class="snitch-th" style="width: 1px;">Times</div>
            <div class="snitch-th" style="width: 1px;">Tags</div>
            <div class="snitch-th" style="width: 1px;">Status</div>
          </div>
        </div>
        <div class="snitch-tbody">
          <% @reports.each do |report| %>
            <div class="snitch-tr">
              <%= link_to report, class: "snitch-td link-cell" do %>
                <div class="report-title-wrapper">
                  <span class="report-title"><%= report.error %></span>
                  <% if report.klass.present? && report.action.present? %>
                    in <span class="report-location"><%= report.klass %>#<%= report.action %></span>
                  <% end %>
                </div>
                <small class="report-message"><%= truncate(report.message, length: 100) %></small>
              <% end %>
              <div class="snitch-td"><%= report.last_occurrence_at %></div>
              <div class="snitch-td"><%= number_with_delimiter(report.occurrence_count) %></div>
              <div class="snitch-td">
                <% report.tags.each_with_index do |tag, idx| %>
                  <span class="snitch-tag"><%= tag %></span><%= ', ' if idx < report.tags.length - 1 %>
                <% end %>
              </div>
              <div class="snitch-td">
                <%= content_tag :input, "", type: :checkbox, name: :resolved, class: "snitch-resolution-switch", checked: report.resolved?, data: { mark_resolution_url: snitch_report_url(report) } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
