<div class="snitch-reporting">
  <div class="snitch-nav">
    <a href="#summary">Summary</a>
    <a href="#comments">Comments</a>
    <a href="#backtrace">Backtrace</a>
    <a href="#context">Context</a>
    <a href="#params">Params</a>
    <a href="#environment">Environment</a>
    <a href="#history">History</a>
  </div>

  <div class="snitch-title-section">
    <a href="<%=  %>">&laquo; First</a>
    <a href="<%=  %>">&lsaquo; Previous</a>
    <a href="<%=  %>">Next &rsaquo;</a>
    <a href="<%=  %>">Last &raquo;</a>
    - 03/28/19 10:13 am - 07:00 (a few seconds ago)
    <h2>ActionView::Template::Error</h2> in <a href="">products</a>#<a href="">show</a>
    This error has occurred 18,970 times since 03/18/16 @ 12:14pm -07:00
    (Unresolved|Resolved)
  </div>

  <div id="summary" class="snitch-section">
    <table>
      <tr>
        <td>Error</td>
        <td>ActionView::Template::Error: undefined method `name` for nil:NilClass</td>
      </tr>
      <tr>
        <td>Backtrace</td>
        <td>
          <%=  %>
          show.html.erb > 5 > app_views_products_show_html_erb
          [PROJECT_ROOT]/app/views/products/show.html.erb:5
        </td>
      </tr>
      <tr>
        <td>URL</td>
        <td>
          <%=  %>
          [GET] http://sample.org/products/1516
        </td>
      </tr>
      <tr>
        <td>User Agent</td>
        <td>
          <%=  %>
          <svg Chrome><svg Apple><svg US> UserAgent
        </td>
      </tr>
      <tr>
        <td>Timeline</td>
        <td>
          X: Date
          Y: Occurrence Count (Hover for date/count)
          [Hour|Day|Week|Month]
        </td>
      </tr>
      <tr>
        <td>Tags (edit)</td>
        <td><%=  %></td>
      </tr>
    </table>
  </div>

  <div class="snitch-skinny-container">
    <div class="btn-row">
      <a class="snitch-btn danger" href="">Delete</a>
      <a class="snitch-btn" href="">Ignore</a>
      <a class="snitch-btn" href="">Assign</a>
      <a class="snitch-btn" href="">URL</a>
      <a class="snitch-btn" href="">Search StackOverflow</a>
      <a class="snitch-btn" href="">Create GH Issue</a>
    </div>

    <div id="comments" class="snitch-section">
      <h2>Comments</h2>
      Text area - Markdown/editor
      - list of comments
    </div>

    <div id="backtrace" class="snitch-section">
      <h2>Application Backtrace</h2>
      <h2>Full Backtrace</h2>
    </div>

    <div id="context" class="snitch-section">
      <h2>Context</h2>
      Stores information about user and other added information in a before_action for the aplp controller to provide context, which is any hash of info.
    </div>

    <div id="params" class="snitch-section">
      <h2>Params</h2>
      (Retain full structure and display)
    </div>

    <div id="environment" class="snitch-section">
      <h2>Environment</h2>
      (Headers -- Retain full structure and display -- filter out as normal)
    </div>

    <div id="history" class="snitch-section">
      <h2>History</h2>
      <table>
        Action (first occurrence, resolved, commented, ignored, etc...)
        User
        Timestamp
      </table>
    </div>
  </div>
</div>
