<div class="snitch-reporting">
  <div class="snitch-nav">
    <a href="#summary">Summary</a>
    <a href="#comments">Comments</a>
    <a href="#backtrace">Backtrace</a>
    <a href="#context">Context</a>
    <a href="#params">Params</a>
    <a href="#environment">Environment</a>
    <a href="#history">History</a>
  </div>

  <% if @report.resolved? %>
    <div class="snitch-banner">
      <% if @report.ignored? %>
        <div>Report is ignored- you will not be notified for future occurrences of this Snitch.</div>
      <% end %>
      Resolved as of <%= @report.resolved_at.strftime("%m/%d/%Y @ %I:%M%P %:z") %>
      <% unless @report.ignored? %>
        - if this report occurrs again, we will notify you.
      <% end %>
    </div>
  <% end %>

  <div class="snitch-title-section">
    <!-- <todo>
      <a href="<%=  %>">&laquo; First</a>
      <a href="<%=  %>">&lsaquo; Previous</a>
      <a href="<%=  %>">Next &rsaquo;</a>
      <a href="<%=  %>">Last &raquo;</a>
      -
    </todo> -->
    <!-- <todo>(a few seconds ago)</todo> -->
    <h2><%= @report.error %></h2>
    <% if @report.klass.present? %>
      in <%= @report.klass %>#<%= @report.action %>
    <% end %>
    This error has occurred <%= number_with_delimiter(@report.occurrence_count) %> <%= "time".pluralize(@report.occurrence_count) %> since <%= @report.first_occurrence_at.strftime("%m/%d/%Y @ %I:%M%P %:z") %>
  </div>

  <div id="summary" class="snitch-section">
    <div class="snitch-table">
      <div class="snitch-tr">
        <div class="snitch-td">Error</div>
        <div class="snitch-td">
          <div class="scrollable">
            <%= @report.error %>: <br>
            <code><%= @report.message %></code>
          </div>
        </div>
      </div>
      <div class="snitch-tr">
        <div class="snitch-td">Occurred</div>
        <div class="snitch-td"><%= @occurrence.created_at %></div>
      </div>
      <div class="snitch-tr">
        <div class="snitch-td">Backtrace</div>
        <div class="snitch-td">
          <%= (@occurrence.filtered_backtrace.first || @occurrence.backtrace.first).split(":in").first %>
        </div>
      </div>
      <div class="snitch-tr">
        <div class="snitch-td">URL</div>
        <div class="snitch-td">
          <% if @occurrence.http_method %>
            [<%= @occurrence.http_method %>]
          <% end %>
          <%= @occurrence.url %>
        </div>
      </div>
      <div class="snitch-tr">
        <div class="snitch-td">User Agent</div>
        <div class="snitch-td">
          <%= @occurrence.user_agent %>
        </div>
      </div>
      <!-- <div class="snitch-tr">
        <div class="snitch-td">Timeline</div>
        <div class="snitch-td">
          <todo>
            X: Date
            Y: Occurrence Count (Hover for date/count)
            [Hour|Day|Week|Month]
          </todo>
        </div>
      </div> -->
      <!-- <div class="snitch-tr">
        <div class="snitch-td">Tags <todo>(edit)</todo></div>
        <div class="snitch-td"><%= @report.tags %></div>
      </div> -->
    </div>
  </div>

  <div class="btn-row">
    <!-- <a class="snitch-btn danger" href="">Delete</a> -->
    <% if @report.ignored? %>
      <%= link_to "Mark as Unignored", snitch_report_path(@report, snitch_report: { ignored: false }), method: :patch, class: "snitch-btn" %>
    <% else %>
      <%= link_to "Mark as Ignored", snitch_report_path(@report, snitch_report: { ignored: true }), method: :patch, class: "snitch-btn" %>
    <% end %>
    <% if @report.resolved? %>
      <%= link_to "Mark as Unresolved", snitch_report_path(@report, snitch_report: { resolved: false }), method: :patch, class: "snitch-btn" %>
    <% else %>
      <%= link_to "Mark as Resolved", snitch_report_path(@report, snitch_report: { resolved: true }), method: :patch, class: "snitch-btn" %>
    <% end %>
    <!-- <a class="snitch-btn" href="">Assign</a> -->
    <!-- <a class="snitch-btn" href="">URL</a> -->
    <!-- <a class="snitch-btn" href="">Search StackOverflow</a> -->
    <!-- <a class="snitch-btn" href="">Create GH Issue</a> -->
  </div>

  <!-- <div id="comments" class="snitch-section">
    <h3>Comments</h3>
    <todo>
      Text area - Markdown/editor
      - list of comments
    </todo>
  </div> -->

  <div id="backtrace" class="snitch-section">
    <h3>Application Backtrace</h3>
    <% @occurrence.filtered_backtrace.each do |row| %>
      <% line = file_lines_from_backtrace(row) %>
      <% file_path, line_number = line.split(":") %>

      <div class="line-trace">
        <div class="trace-details">
          <span class="trace-file"><%= file_path.split("/").last(2).join("/") %></span>
          <span>&rarr;</span>
          <span class="trace-line"><%= line_number %></span>
          <div class="trace-full"><%= line %></div>
        </div>

        <code><% snippet_for_lines(line).each do |line_num, line_code, current| %><span class="<%= 'current-line' if current %>"><%= line_num %> <%= line_code %></span><br><% end %></code>
      </div>
    <% end %>
  </div>

  <div id="backtrace" class="snitch-section">
    <h3>Full Backtrace</h3>
    <div class="line-trace cap-height">
      <code><%= @occurrence.backtrace.join("\n") %></code>
    </div>
  </div>

  <div id="context" class="snitch-section">
    <h3>Context</h3>
    <div class="line-trace">
      <code><%= JSON.pretty_generate @occurrence.context %></code>
    </div>
  </div>

  <div id="params" class="snitch-section">
    <h3>Params</h3>
    <div class="line-trace">
      <code><%= JSON.pretty_generate @occurrence.params %></code>
    </div>
  </div>

  <div id="environment" class="snitch-section">
    <h3>Environment</h3>
    <div class="line-trace">
      <code><%= JSON.pretty_generate @occurrence.headers %></code>
    </div>
  </div>

  <!-- <div id="history" class="snitch-section">
    <h3>History</h3>
    <div class="snitch-table">
      <div class="snitch-thead">
        <div class="snitch-tr">
          <div class="snitch-th">Action</div>
          <div class="snitch-th">User</div>
          <div class="snitch-th">Timestamp</div>
        </div>
      </div>
      <div class="snitch-tbody">
        <% @report.histories.each do |history| %>
          <div class="snitch-td"><%= history.text %></div>
          <div class="snitch-td"><%= history.user %></div>
          <div class="snitch-td"><%= history.created_at %></div>
        <% end %>
      </div>
    </div>
  </div> -->
</div>
